.password-input {
  display: flex;
  align-items: center;
}
.password-input .input-comp {
  width: 100% !important;
}
.password-input svg {
  cursor: pointer;
  margin-left: -54px;
  color: var(--light-blue);
}
